name: Automatic Rebase for Feature Branches

on:
  push:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  rebase:
    name: Rebase
    runs-on: ubuntu-latest
    steps: 
    - id: ls
      name: ls
      run: find .
    - id: do
      name: Find feature branches and rebase
      run: scripts/rebase-feature-branches.sh

                    
 

