name: Automatic Rebase for Feature Branches

on:
  push:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  rebase:
    name: Rebase feature branches
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v2
    - id: do
      name: Loop over branches and try to rebase feature branches
      run: |
        git fetch origin
        for branch in $(git branch --all --list '*feature*' | cut -d'/' -f3); do
            git checkout $branch
            git pull --ff
            git rebase origin/master &&
                git push origin HEAD:$branch -f || 
                git rebase --abort
        done


                            
         

